html, body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #9E9E9E;
}
ul
 {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: black;
    background-color: white;
}
p{
    color :red;
    text-align:center;
}
img {
    max-width: 60%;
    height: auto;
}

